    .containergames {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #76C2AF;
        width: 73vw;
        height: 50vh;
    }
    
    .gamebox {
        width: 100%;
        height: 450px;
        background-color: #76C2AF;
        border-radius: 20px;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    
    .containergames {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #76C2AF;
        width: 73vw;
        margin-top: 3 vw;
        height: 29vw;
    }
    
    .center {
        display: flex;
        margin-top: -14.5vw;
        margin-left: -3.5vw;
    }
    
    .game {
        width: 85%;
        padding-left: 125px;
        padding-top: 20px;
    }
    
    .row {
        background: teal;
        border: 1px solid black;
        height: 65px;
        display: flex;
    }
    
    .circle {
        border-radius: 50%;
        background: white;
        padding: 5px;
        width: 14.285%;
    }
    
    .click_button {
        height: 42px;
        width: 42px;
        border-radius: 24px;
        background-color: rgba(255, 0, 0, 1);
        cursor: pointer;
    }
    
    .piece {
        height: 32px;
        width: 32px;
        display: block;
        border-radius: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .player0 {
        background-color: #DDDDDD;
    }
    
    .player1 {
        background-color: #FF0000;
    }
    
    .player2 {
        background-color: #0000FF;
    }
    
    .board_square {
        border: 2px solid #555555;
        height: 56px;
        width: 56px;
    }
    .board_square:hover {
        transform: scale(1.2);
    }
    
    #game_table {
        justify-content: center;
        margin: 0 auto;
        margin-top: 10px;
        background-image: url("../images/wood_background.jpg");
    }
    
    #begin_game {
        margin-top: 10px;
    }

    .cant {
        display: none;
    }
    
    @media screen and (max-width: 700px) {
        .gamebox {
            display: none;
        }
        .cant {
            display: block;
            margin-top: 25vh;
        }
    }
    
    @media screen and (max-width: 550px) {
        .gamebox {
            display: none;
        }
        .cant {
            display: block;
            margin-top: 25vh;
        }
    }