/* Style the navigation menu */

.topnav {
    overflow: hidden;
    background-color: #333;

}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    text-align: center;

}

/* Style navigation menu links */
.topnav a {
    color: #E0E0D0;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 60px;
    display: block;
    height: 10vh;
}
.fa {
    font-size: 10vw;
}

/* Style the hamburger menu */
.topnav a.icon {

    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1vh;
    font-size: 13vw;
}

.padding {
    margin-top: 5vh;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #76C2AF;
    color: #76C2AF;
}

body{
    margin: 0;
    font-family: Arial;
    background: #E0E0D0;
}

p{
    margin-top: 7vh;
    margin-left: 10vw;
    max-width: 80vw;
}

.sned {
    text-align: center;
}

/*logo*/
#dobbelsteen{
    width: 15vw;
    float: left;
    padding-top: 1vh;
}


/*feedback  */

legend {
    font-size: 2em;
    font-weight: bold;
}
fieldset {
    border: solid 2px white;
    width: 85%;
    margin: auto;
    border-radius: 2%;
    text-align: center;
}
input,
select,
textarea {
    border: solid 1px reg(0, 0, 0);
    margin: 5px;
    padding: 5px 30px 5px 50px;
    width: 50%;
    text-align: center;
    font-size: 2em;
    border-radius: 5px;
}
/*
input:focus,
textarea:focus {
    box-shadow: 6px 6px 10px #2eefle;
}

 */
main {
    margin-top: 10vh;
}

.newNav {
    display: none;
}


@media screen and (min-device-width: 481px) and (max-device-width: 1025px) {
    .topnav a {
        height: 13vh;
    }
}

@media only screen and (min-width: 1025px)  {

    p {
        font-size: 30px;
    }

    fieldset {
        font-size: 10px;
        width: 60%;
    }
    .sned {
        width: 30%;
        font-size: 10px;
        margin-left: 35vw;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: none;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;


    }

    /* Style navigation menu links */
    .topnav a {
        color: #E0E0D0;
        padding: 2px 16px;
        text-decoration: none;
        font-size: 60px;
        display: block;
        height: 12vh;
        display: none;

    }


    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 15vw;
        display: none;
    }

    .padding {
        margin-top: 5vh;
        display: none;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #76C2AF;
        color: #76C2AF;
        display: none;
    }



    /*---------------------------------------------------------------------------------------------------------------------------------------*/
    /* Circle behind */
    div.circleBehind a:before, div.circleBehind a:after
    {
        position: absolute;
        top: 22px;
        left: 50%;
        width: 50px;
        height: 50px;
        border: 4px solid #0277bd;
        transform: translateX(-50%) translateY(-50%) scale(0.8);
        border-radius: 50%;
        background: transparent;
        content: "";
        opacity: 0;
        transition: all 0.3s;
        z-index: -1;
    }

    div.circleBehind a:after
    {
        border-width: 2px;
        transition: all 0.4s;
    }

    div.circleBehind a:hover:before
    {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }

    div.circleBehind a:hover:after
    {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1.3);
    }

    div.container
    {
        font-family: Raleway;
        margin: 0 auto;
        padding: 2em 3em;
        margin-top: 3vw ;
        text-align: center;
        width: 82vw;
        background: #76C2AF;
    }

    div.container a
    {
        color: #FFF;
        text-decoration: none;
        font: 20px Raleway;
        margin: 0px 10px;
        padding: 10px 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;
    }


    #logodesk{
        z-index: 2;
        position: absolute;
        height: 10vw;
        top: 0.5vw;
        left: 1vw;
        margin-top: 18px;
    }
    #logodesk2{
        z-index: 2;
        position: absolute;
        height: 10vw;
        top: 0.5vw;
        left: 88.2vw;
        margin-top: 18px;
    }

    .containergames{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 13vw;
        background: #76C2AF;
        width: 73vw;
        margin-top: 6vw;
        height: 29vw;

    }

    .gameshome{
        padding: 6vw;
        padding-top: 0vw;
        margin-left: 2.5vw;
    }
    #gameteks{
        display: block;
        font-size: 20pt;
        margin-left: 17vw;

    }

    /* titel home*/
    #home{
        font-size: 35pt;
        padding-top: 20px;
    }

    .newNav {
        display: block;
    }



}

