/* Style the navigation menu */

.topnav {
    overflow: hidden;
    background-color: #333;
}

.desknav {
    display: none;
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}

#logodesk {
    z-index: 2;
    position: absolute;
    height: 10vw;
    top: 0.5vw;
    left: 1vw;
    display: none;
}

#logodesk2 {
    z-index: 2;
    position: absolute;
    height: 10vw;
    top: 0.5vw;
    left: 88.2vw;
    display: none;
}


/*navigation menu links */

.topnav a {
    color: #E0E0D0;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 60px;
    display: block;
    height: 12vh;
}

.fa {
    font-size: 10vw;
}

.container.blue.circleBehind {
    display: none;
}


/* hamburger menu */

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15vw;
}

.padding {
    margin-top: 5vh;
}


/* Style the active link (or home/logo) */

.active {
    background-color: #76C2AF;
    color: #76C2AF;
}

body {
    margin: 0;
    font-family: Arial;
    background: #E0E0D0;
}


/* titel home*/

#home {
    font-size: 35pt;
    padding-top: 2vh;
    text-align: center;
    margin-bottom: 5px;
}


/*text home pagina*/

#welkom {
    color: white;
    bottom: -50px;
    font-size: 20pt;
    margin-left: 14vw;
    max-width: 80vw;
}

.testen {
    margin-left: 14vw;
    max-width: 80vw;
    margin-top: 11vw;
    margin-bottom: 7vw;
}

.center {
    text-align: center;
}

.containergames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 13vw;
    background: #76C2AF;
    width: 73vw;
    height: 50vh;
}


/*logo*/

#dobbelsteen {
    width: 18vw;
    float: left;
    padding-top: 1vh;
}

.footer {
    position: abs olute;
    left: 0;
    bottom: -766px;
    width: 100%;
    background-color: #76C2AF;
    color: white;
    text-align: center;
    height: 10vw;
    font-size: 3vw;
    display: none;
}

@media only screen and (min-width: 1025px) {
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: none;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
        color: #E0E0D0;
        padding: 2px 16px;
        text-decoration: none;
        font-size: 60px;
        display: block;
        height: 12vh;
        display: none;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 15vw;
        display: none;
    }
    .padding {
        margin-top: 5vh;
        display: none;
    }
    /* Style the active link (or home/logo) */
    .active {
        background-color: #76C2AF;
        color: #76C2AF;
        display: none;
    }
    /*---------------------------------------------------------------------------------------------------------------------------------------*/
    /* Circle behind */
    .container.blue.circleBehind {
        display: block;
    }
    div.circleBehind a:before,
    div.circleBehind a:after {
        position: absolute;
        top: 22px;
        left: 50%;
        width: 50px;
        height: 50px;
        border: 4px solid #0277bd;
        transform: translateX(-50%) translateY(-50%) scale(0.8);
        border-radius: 50%;
        background: transparent;
        content: "";
        opacity: 0;
        transition: all 0.3s;
        z-index: -1;
    }
    div.circleBehind a:after {
        border-width: 2px;
        transition: all 0.4s;
    }
    div.circleBehind a:hover:before {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    div.circleBehind a:hover:after {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1.3);
    }
    div.container {
        font-family: Raleway;
        margin: 0 auto;
        padding: 2em 3em;
        margin-top: 3vw;
        text-align: center;
        width: 82vw;
        background: #76C2AF;
        display: block;
    }
    div.container a {
        color: #FFF;
        text-decoration: none;
        font: 20px Raleway;
        margin: 0px 10px;
        padding: 10px 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;
    }
    #logodesk {
        z-index: 2;
        position: absolute;
        height: 10vw;
        top: 0.5vw;
        left: 1vw;
        display: block;
    }
    #logodesk2 {
        z-index: 2;
        position: absolute;
        height: 10vw;
        top: 0.5vw;
        left: 89vw;
        display: block;
    }
    .containergames {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 13vw;
        background: #76C2AF;
        width: 73vw;
        margin-top: 3 vw;
        height: 29vw;
    }
    /* titel home*/
    #home {
        font-size: 35pt;
        padding-top: 20px;
        margin-bottom: 5px;
    }
    .center {
        display: flex;
        margin-top: -14.5vw;
        margin-left: -3.5vw;
    }
    .game{
        background: yellow;
        width: 600px;

    }
    .row{
        background: teal;
        border: 1px solid black;
        height: 50px;
        display: flex;
    }
    .circle{
        border-radius: 50%;
        background: white;
        padding:5px;
        width: 14.285%;
    }
}